<!DOCTYPE html>
<html>
    <h1>"Hello world</h1>
	<body>
    <p>
    <script> document.write(new Date().toLocaleDateString()); </script>
    <p>"The date is Tuesday, February 18, 2020 </p>
    </p>
    </body>
</html>